body {
	display: flex;
	background-color: lightgray;
}

aside {
	height: 100vh;
	width: 200px;
	background-color: #bdbdbd;
}

main {
	height: 100vh;
	flex-grow: 1;
    background-color: #e2e2e2;
    padding-left: 30px;
}

h1.first-header {
	color: blue;
}

.first-header {
	text-decoration: underline;
	color: green;
}

h1 {
	color: red;
}